*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: system-ui;
}
body{
  background: rgb(208, 218, 224);
  background: linear-gradient(90deg, rgba(208, 218, 224) 0%, rgb(238, 227, 253) 100%);
}